# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
terraform.tfstate.*.json
crash.log
crash.*.log

# Variables sensibles
terraform.tfvars
!terraform.tfvars.example
.env
.env.local
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log

# OS
Thumbs.db
